@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circle-svg {
  display: block;
  margin: 10px auto;
  height: 500px;
}
.circle-svg text {
  text-align:center;
  color:black;
  font-size:5px
}
.circle-svg path.percent {
  stroke:  #EB5E21;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
    stroke: #c4c4c4;
    fill: none;
    stroke-width: 2.8;
}
body {
  text-align:center;
}