<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="layout.html">
<head>
  <title>Diabete Result</title>
  <link rel="icon"  type="image/x-icon" href="../image.png" />
  <link  href="../bootstrap.min.css" rel="stylesheet">
  <link  href="../styleResult.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="../style.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">

<div class="form-holder">
<h3 >Diabete Result </h3>


  <svg viewBox="0 0 36 36" class="circle-svg">
    <path class="around"
          stroke-dasharray="100, 100"
          d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>


    <path class="percent"  th:stroke-dasharray="${p}"d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>



    <text x="18" y="14" text-anchor="middle" dy="7" font-size="20"  th:text="${diabete}">3/10</text>
  </svg>

</div>
</div>
</body>
</html>