<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon"  type="image/x-icon" href="../image.png" />
  <link href="../bootstrap.min.css" rel="stylesheet">
  <link href="../style.css" rel="stylesheet">
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.js"></script>
  <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">

<!--  <link rel="shortcut icon" href="logo.png" class="rounded-circle" type="image/x-icon" />-->

</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/home}">
      <img src="../image.png" width="30" class="rounded-circle"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" aria-current="page" th:href="@{/home}">Search</a>
        <a class="nav-link" th:href="@{/PatientList}">Patients List</a>
        <a class="nav-link" th:href="@{/addPatient}">add Patient</a>

        <!--        <a class="nav-link" href="/Transfer-To-Bank">Transfer To Bank</a>-->
<!--        <a class="nav-link" href="/Transfer-To-Benef">Transfer To Benef</a>-->

<!--        <a class="nav-link" th:href="@{/beneficiary}">Beneficiary</a>-->
<!--        <a class="nav-link" th:href="@{/signUp}">Sign Up</a>-->
<!--        <a class="nav-link" th:href="@{/logout}">Logout</a>-->

<!--        <a class="nav-link" th:object="${user}" th:text="${user.firstName}"></a>-->


      </div>
    </div>
  </div>
</nav>

<div layout:fragment="content">

</div>
</body>
<footer class="bg-dark text-center text-white footer">
  <!-- Grid container -->
  <div class="container-footer p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>

</html>